<!DOCTYPE html>
<html class="text-center">
  <head>
    <title>Ruby on Rails: Welcome aboard</title>
  </head>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  <body class="freebee-background">
      <div class="panel-heading freebee-panel">
          <%= image_tag("freebee-icon.jpeg", :class => "freebee-icon") %>
      </div>
        <div>
          <button type="button" class="btn freebee-btn-primary btn-lg">
          Business
          </button>
        </div>
        <div>
          <button type="button" class="btn freebee-btn-primary btn-lg ">
          HungryBee
          </button>
        </div>

  </body>
</html> 