<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails: Welcome aboard</title>
  </head>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  <body>
    
    <div class="panel panel-warning">
      <div class="panel-heading freebee-panel">
          <%= image_tag("bee-aware-cartoon-sm.jpg", :class => "freebee-icon") %>
      </div>
      <div class="panel-body">
        <div>
          <button type="button" class="btn btn-primary btn-lg">
          Business
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary btn-lg">
          HungryBee
          </button>
        </div>
      </div>
    </div>
    
  </body>
</html> 