.freebee-panel {
  padding-bottom: 100px !important;
}

.freebee-icon {
    margin-top: 50px;
    height: 300px;
    width: auto;
    max-width: 100%;
    max-height: 30%;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .freebee-icon{
        margin-top: 50px;
        height: 20%;
    }
}


.freebee-background{
    background-color:  rgb(255,253,167) ;
}

.freebee-btn-primary{
    color: #ffffff;
    background-color:  rgb(49,49,49);
    border-color: rgb(49,49,49);
    margin-top: 40px;
    width: 300px;
    max-width: 100%;
}

.freebee-btn-primary:hover,
.freebee-btn-primary:focus,
.freebee-btn-primary:active
.freebee-btn-primary.active{
    color: white !important;
    background-color: black;

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .freebee-btn-primary{
        color: #ffffff;
        background-color:  rgb(49,49,49);
        border-color: rgb(49,49,49);
        margin: 40px;
        width: 100px;
    }
}